@{
    ViewData["Title"] = "Home Page";
}


<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<div class="container mt-3">
    <h2>Artists</h2>
    <p></p>
    <div class="card" style="width:400px">
        <img class="card-img-top" src="https://upload.wikimedia.org/wikipedia/commons/1/16/SteveHarveyHWOFMay2013_%28cropped%29.jpg" alt="Card image" style="width:100%">
        <div class="card-body">
            <h4 class="card-title">Steve Harvey</h4>
            <p class="card-text">Steve Harvey, a previous boxer knocked out mike tyson but got put down my motez mahmoud</p>
            <a href="#" class="btn btn-primary">See Profile</a>
        </div>
