@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>
    We collect personal information from you, including information about your:
    name
    contact information
    location
    billing or purchase information

    We collect your personal information in order to:
    help the webpage to inform people of events and prices, and sellers


    Providing some information is optional. If you choose not to enter a name and phone number, we'll be unable to re contact them.
    You have the right to ask for a copy of any personal information we hold about you, and to ask for it to be corrected if you think it is wrong. If you’d like to ask for a copy of your information, or to have it corrected, please contact us at artexhibit@gmail.com.
</p>
